.body{
    font-family: "montserrat",sans-serif;
    background-color: #FFFFFF;
    
}
/* Main styles */
.Main{
    display: flex;
    flex-direction: row-reverse;
    margin:0 auto;
    width: 1200px; 
    justify-content: center;
}
   
/* about style */
.about_user{
    margin-bottom: 0px;
}
.about_position{
    font-style: normal;
    font-weight: bold ;
    font-size: 18px;
    line-height: 27px;
    color: black;
    margin-bottom: 0px;
    
}
.about_name{
    display: flex;
    font-style: normal;
    font-weight: bold ;
    font-size:40px;
    line-height: 27px;
    color: black;
    margin-bottom: 0px;
   
}
.about_destription{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color:rgba(133, 27, 27, 0.575);
    margin-bottom: 20px;
    width: 600px;
}
.project_list{
    padding: 0px;
    margin-bottom: 5px;
    margin-left: 15px;
   
}
.Project{
    margin-bottom: 0px;  
}
    
 /* sidebar style */
 .sidebar{
     background-color: #1E2939;   
 }
 .main_content{
     background-color: #FFFFFF;
     box-shadow: 6px 6px 20px rgba(0,0,0,1);
     padding: 5px 100px;
 }
 .Tech{
     color: #FFFFFF;
     /* font-style: oblique; */
     font-weight: bold;
     font-size: 1px;
     line-height: 27px;
     padding: 0;
     margin: 20px;
 }
.Contakt{
    margin-bottom: 50 px;
    /* margin-left: 10px; */
}
.Skills_fan{
    /* color: #FFFFFF; */
    list-style: none;
    
}
.Skills{
    color: #FFFFFF;
    /* font-style: oblique; */
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* margin-left: 10px; */
}
/* .Skills_fan{
    color: yellow; */
    /* margin-left: 10px; */
/* } */
.Sidebar_title{
    margin-left: 10px;
    color:turquoise;
    font-size: 24px;
    padding-left: 10px;
    
}
/* .Contakt_info{
    color: chartreuse;
    
} */
.Contakt_link{
    color:#FFFFFF;
    font-size: 18px;
    padding-left: 20px;
    list-style: none;
    /* text-decoration: none; */
}
.Contakt_links{
    color:#FFFFFF;
    font-size: 18px;
    padding-left: 20px;
    list-style: none;
    text-decoration: none;
}
.naked{
    font-style: normal;
    font-weight: bold ;
    font-size: 18px;
    line-height: 27px;
    color: black;
    margin-bottom: 10px;
}
.project_item{
    font-style: normal;
    font-weight: bold ;
    font-size: 18px;
    line-height: 27px;
   color:#000000;
    padding-left: 6px;
    text-decoration: none;
    
   
   
}
.project_link{
    color:rgb(105, 96, 96);
    text-decoration: none;
     margin-right: 6px;
      font-size: 18px;
    
     
     
}
.span_progect{
    margin-left: 100px;
}
.project_item{
    font-style: normal;
    font-weight: bold ;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}
.work_possion{
    font-style: normal;
    font-weight: bold ;
    font-size: 18px;
    line-height: 27px;
    color:rgb(105, 96, 96);

    margin-bottom: 0px;
    
}
.organization{
    font-style: normal;
    font-weight: bold ;
    font-size: 18px;
    line-height: 27px;
    color:rgba(53, 22, 165, 0.575);
    margin-left: 10px;
}
.periot{
/* font-family: 'Montserrat'; */
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 27px;
margin-left:0px;
padding: 0px;
margin-top: 0px;
}
.link{
/* font-family: 'Montserrat'; */
font-style: normal;
font-weight: 40000;
font-size: 12px;
line-height: 27px;
color: #000000;
}
.work_list{
    padding: 0px;
    margin-bottom: 15px;
}
.wokr_list_tittle{
    /* font-family: 'Montserrat'; */
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
margin-left: 20px;
width: 600px;

}

.svg_icon{
  fill:rgb(105, 96, 96);
}
.text{
    padding-top: 0px;
    width: 600px;
    color: rgba(133, 27, 27, 0.575);
    line-height: 27px;
    margin: 0;
    font-weight: 300;
}
.techno{
    color: #000000;
}
.academi{
    color:rgba(53, 22, 165, 0.575);
    font-weight: 900;
    margin: 0 auto;
}

.object{
    margin-top: 6px;
    font-weight: 600;
    margin-bottom: 0px;
}